services:
  backend:
    build:
      context: ./backend
    container_name: fabriscan-backend
    environment:
      - PORT=5000
      - DEBUG=false
    ports:
      - "5000:5000"
    volumes:
      - ./backend/uploads:/app/uploads

  frontend:
    build:
      context: ./frontend
    container_name: fabriscan-frontend
    environment:
      - REACT_APP_API_BASE=http://localhost:5000
    ports:
      - "3000:80"
    depends_on:
      - backend


